include README INSTALL MANIFEST.in PKG-INFO Changelog license.txt setup.py use_py3.bat
recursive-include lib *.py
recursive-include scripts *
recursive-include tests *
recursive-exclude tests/Misc *
recursive-include doc *
recursive-exclude doc/_build *
recursive-include dlls *
