## Sample Stage Configuration (saved: Thu Nov 11 13:07:21 2010)
#--------------------------#
[setup]
verify_move = True
verify_erase = True
verify_overwrite = True
webcam = http://164.54.160.115/jpg/4/image.jpg
logfile = Sample_list.html
imgdir = Sample_Images
directory = //cars5/Data/xas_user/
#--------------------------#
[stages]
# index =  Motor ||  name ||  description  ||   sign
1 = 13XRM:m1 || fineX || Fine X || 1
2 = 13XRM:m2 || fineY || Fine Y || 1
3 = 13XRM:m3 || theta || Theta || 1
4 = 13XRM:m4 || X || Stage X || 1
5 = 13XRM:m5 || Y || Stage Y (vert) || 1
6 = 13XRM:m6 || Z || Stage Z (focus) || 1
#--------------------------#
[positions]
# index = name   || imagefile     || finex, finey, theta, coarsex, coarsez, coarsey
001 = position A || 0adasdasd.jpg || 0.000000, 2.000000, 1.000000, 3.000000, 0.000000, 0.000000
002 = position B || 01_000102.jpg || 0.000000, 0.000000, 0.000000, 0.000000, 0.000000, 0.000000
#------------------#
