name: Test with Conda

on: [push]

jobs:
  build-linux:
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 5
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Add conda to system path
      run: |
        # $CONDA is an environment variable pointing to the root of the miniconda directory
        echo $CONDA/bin >> $GITHUB_PATH
    - name: Install conda and dependencies
      run: |
        conda install numpy pip setuptools pyparsing pytest pytest-cov coverage
        conda update -n base -c defaults conda
        conda install -y -c conda-forge epics-base
        conda install -y -c lcls-ii procserv
        conda info
        conda list
    - name: Install pyepics
      run: |
        python -m pip install --upgrade pip
        python setup.py install
    - name: Run test suite
      run: |
        cd tests/Setup
        export EPICS_CA_ADDR_LIST=localhost
        export EPICS_CA_AUTO_ADDR_LIST=NO
        export EPICS_CA_MAX_ARRAY_BYTES=20100300
        printenv
        sh start_ioc.sh
        sleep 1
        python simulator.py &
        sleep 1
        cd ..
        coverage erase
        coverage run --source=epics -a --timid  -m pytest test_camonitor_func.py
        coverage run --source=epics -a --timid  -m pytest test_ca_typeconversion.py
        coverage run --source=epics -a --timid  -m pytest test_pv_callback.py
        coverage run --source=epics -a --timid  -m pytest test_pv_initcallbacks.py
        coverage run --source=epics -a --timid  -m pytest test_pvsubarray.py
        coverage run --source=epics -a --timid  -m pytest test_cathread.py
        coverage run --source=epics -a --timid  -m pytest test_multiprocessing.py
        coverage run --source=epics -a --timid  -m pytest test_threading.py
        coverage run --source=epics -a --timid  -m pytest test_aodevice.py
        coverage run --source=epics -a --timid  -m pytest test_ca_unittests.py
        coverage run --source=epics -a --timid  -m pytest test_ca_subscribe.py
        coverage run --source=epics -a --timid  -m pytest test_pv_unittests.py
        coverage run --source=epics -a --timid  -m pytest test_pv_typeconversion.py
        coverage report -m
        bash <(curl -s https://codecov.io/bash)
